.discord-button {
  transition: all 0.218s;
  background-color: #fff;
  background-image: none;
  border: 1px solid #dadce0;
  border-radius: 4px;
  color: #3c4043;
  cursor: pointer;
  text-decoration: none;
  font-family: 'Google Sans', arial, sans-serif;
  font-size: 12px;
  height: 40px;
  letter-spacing: 0.25px;
  outline: none;
  overflow: hidden;
  padding: 0 12px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.discord-button:hover {
  box-shadow: none;
  border-color: #d2e3fc;
  background-color: rgba(66, 133, 244, 0.04);
  outline: none;
  transition: all 0.218s;
}

.discord-button--small {
  font-size: 12px;
  padding: 0 16px;
}
.discord-button--medium {
  font-size: 14px;
  padding: 0 20px;
}
.discord-button--large {
  font-size: 16px;
  padding: 0 24px;
}
